.box-Header {
  background: url("https://raw.githubusercontent.com/hector1489/briefcaseOne/main/src/assets/img/WhiteAndBlackGradient.png") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  text-align: center;
}

.box-Header h2,
.box-Header p {
  color: white;
  margin: 0;
}